.scroll-nav {
  position: fixed;
  right: 2rem;
    top: 35%;
  transform: translateY(-50%);
  z-index: 1000;

  &__container {
    position: relative;
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #777777;
    transform: translateX(-50%);
  }

  &__progress {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    background-color: #EAC666;
    transform: translateX(-50%);
    transition: height 0.3s ease;
    height: 0;
  }

  &__sections {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover {
      .scroll-nav__label {
        color: #EAC666;
      }
      
      .scroll-nav__dot {
        border-color: #EAC666;
      }
    }

    &:nth-of-type(1) {
      .scroll-nav__label,
      .scroll-nav__dot {
        top: -15px;
      }
      
      .scroll-nav__dot {
        right: 23px;
      }
    }

    &:nth-of-type(2) {
      .scroll-nav__label {
        top: 16px;
      }
      
      .scroll-nav__dot {
        top: 15px;
        right: 29px;
      }
    }
  }

  &__label {
    font-size: 0.875rem;
    color: #777777;
    position: relative;
    right: 22px;
    transition: color 0.3s ease;

    &--active {
      color: #eab308;
    }
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #4b5563;
    background-color: transparent;
    transition: all 0.3s ease;
    position: relative;

    &--active {
      border-color: #EAC666;
      background-color: #EAC666;
    }
  }
}

@media(max-width: 1919px){
  .scroll-nav {
  right: 0rem;
  }
}